h1{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c221c5+1,923290+47,2718ce+100 */
background: rgb(194,33,197); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(194,33,197,1) 1%, rgba(146,50,144,1) 47%, rgba(39,24,206,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(194,33,197,1) 1%,rgba(146,50,144,1) 47%,rgba(39,24,206,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(194,33,197,1) 1%,rgba(146,50,144,1) 47%,rgba(39,24,206,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c221c5', endColorstr='#2718ce',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    width:100%;
    color: white;
}
.border{
  border-bottom: 1px #333 solid;
  width: 100%;
  
}

h2{
  padding-left: 20px;
}
.banner{
    padding: 20px;
    font-size: 48px;
}
body {
    background: #fff;
    color: #333;
    font-family: Lato, sans-serif;
  }
  .container {
    display: block;
    width: 400px;
    margin: 100px auto 0;
    margin: 50px auto;
    border-left: 2px solid purple;
    border-right: 2px solid blue;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 2px;
    -moz-background-size: 100% 5px;
    background-size: 100% 5px;
    background-image: -webkit-linear-gradient(left, purple 0%, blue 100%), -webkit-linear-gradient(left, purple 0%, blue 100%);
    background-image: -moz-linear-gradient(left, purple 0%, blue 100%), -moz-linear-gradient(left, purple 0%, blue 100%);
    background-image: -o-linear-gradient(left, purple 0%, blue 100%), -o-linear-gradient(left, purple 0%, blue 100%);
    background-image: linear-gradient(to right, purple 0%, blue 100%), linear-gradient(to right, purple 0%, blue#4E90A4 100%);
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  li * {
    float: left;
  }
  li, h3 {
    clear:both;
    list-style:none;
  }
  input, button {
    outline: none;
  }
  button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    margin: 5px 0 0;
    
    font-family: Lato, sans-serif;
    cursor: pointer;
  }
  button:hover {
    color: #333;
  }
  /* Heading */
  h3,
  label[for='new-task'] {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 20 10px;
    margin: 0;
    text-transform: uppercase;
  }
  input[type="text"] {
    margin-left:10px;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
  }
  input[type="text"]:focus {
    color: #333;
  }
  
  /* New Task */
  label[for='new-task'] {
    display: block;
    margin: 0 0 20px;
  }
  input#new-task {
    float: left;
    width: 318px;
  }
  p > button:hover {
    color: #0FC57C;
  }
  
  /* Task list */
  li {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
  }
  li > input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
  }
  li > label {
    font-size: 18px;
    line-height: 40px;
    width: 237px;
    padding: 0 0 0 11px;
  }
  li >  input[type="text"] {
    width: 226px;
  }
  li > .delete:hover {
    color: #CF2323;
  }
  
